.banner {
    position: relative;
    color: #fff;
    text-shadow: 0 0 20px rgba(0,0,0,0.3);
    height: 400px;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 20px;
    border-radius: 5px;
    line-height: 160px;
    text-align: center;
    width: 1110px;
}

@media (max-width: 768px) {
    .banner {
        margin-left: 0;
        margin-right: 0;
        height: 200px;
        padding: 0;
        margin-top: 15px;
    }
}