.botao-header {
    margin-left: 0;
    border: 0;
    margin-top: 15px;
    background-color: white;
    font-size: 15px;
    color: gray;
    outline: none;
    cursor: pointer;
}

.botao-duvida {
    height: 30px;
    width: 40px;
    background-image: url(../imagens/icones/iconeDuvidas.jpeg);
    background-size: auto;
    background-repeat: no-repeat;
}

.botao-salmon{
    background-color: #f05b78;
    height: 40px;
    width: 105px;
    margin-top: 6px;
    color: white;
    border-radius: 5px;
}

.botao-colecao {
    float: right;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    color: gray;
}

.botao-formulario {
    outline: none;
    cursor: pointer;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 20px;
    margin-bottom: 15px;
}

.botao-formulario-facebook {
    height: 40px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
}

.botao-formulario-esqueci-senha {
    display: flex;
    float: right;
    background-color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #f05b78;
    font-size: 15px;
}

.botao-formulario-navegar-registro {
    background-color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    color:#f05b78 !important;
    font-size: 20px;
    margin-bottom: 15px;
    text-decoration: none;
}

.botao-descricao-imagem {
    border: 0;
    background-color: white;
    font-size: 15px;
    color: gray;
    padding: 10px;
    outline: none;
    cursor: pointer;
}

.botao-descricao-compra-conjunto {
    border: 0;
    background-color: white;
    color: gray;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.botao-descricao-comprar {
    background-color: #f05b78;
    display: flex;
    float: left;
    width: 555px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
}

.botao-descricao-comprar span {
    font-size: 20px;
    margin-left: 240px;
}

.botao-descricao-sacola {
    display: flex;
    float: left;
    width: 555px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    align-items: center;
    background-color: white;
    border: 1px solid lightgrey;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}


.botao-descricao-sacola span {
    font-size: 20px;
    margin-left: 185px;
}

.botao-descricao-ofertar {
    display: flex;
    float: left;
    width: 555px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    align-items: center;
    background-color: white;
    border: 1px solid lightgrey;
    outline: none;
    cursor: pointer;
}


.botao-descricao-ofertar span {
    font-size: 20px;
    margin-left: 230px;
}

.botao-informativo-interno {
    outline: none;
    height: 30px;
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 0;
}
