.container-colecao {
    height: 500px;
    margin-left: 20vw;
    margin-right: 20vw;
}

.nome-colecao {
    text-align: left;
    height: 20px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.mensagem-colecao {
    text-align: left;
    height: 20px;
}

.container-card-item-colecao {
    height: 260px;
    width: 95%;
    border: 1px solid lightgrey;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
}

.imagem-card-colecao {
    height: 100%;
    width: 100%;
}

.container-card-reponsivo-colecao {
    padding: 0;
}

.preco-produto-card {
    position: absolute;
    z-index: 99;
    background-color: white !important;
    border-radius: 5px;
    margin-top: -30px;
    width: 60px;
    height: 20px;
    margin-left: 10px;

}

@media (max-width: 768px) {

    .container-colecao {
        margin-top: 25px;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .mensagem-colecao {
        font-size: 20px;
    }

    .botao-colecao {
        font-size: 20px;
    }

    .container-card-reponsivo-colecao {
        display: block;
        width: 100%;
    }
}