.row-header {
    padding: 0;
    height: 80px;
    border: 1px solid lightgrey;
}

.header-container-logo-input {
    padding: 0;
    margin-right: 0;
}

.header-container-botoes {
    padding: 0;
    display: flex;
    float: left;
    margin-top: 5px;
    padding-left: 110px;
}

.header-logo {
    margin-left: 200px;
}

.input-header {
    padding: 10px;
    position: relative;
    margin-top: 15px;
    width: 100%;
    height: 20px;
    outline: none;
    border-radius: 5px;
    color: gray;
    text-align: right;
}

.header-formulario {
    height: 8vh;
    border: 0;
    display: flex;
    float: left;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    margin: 15px;
    font-size: 30px;
}

.header-formulario-texto {
    margin-left: 35vw;
    margin-top: 3vh;
}

.logo-header {
    position: relative;
    margin-top: 10px;
    height: 60px;
    width: 60px;
}

.logo-header-formulario  {
    height: 60px;
    width: 60px;
}

.header-logo-formulario {
    display: flex;
    float: left;
    margin-left: 165px;
}

@media (max-width: 360px) {

    .row-header {
        height: 150px;
    }

    .header-container-logo-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-coluna-interna-botoes {
        margin-left:  -3000px;
        display: none;
    }

    .header-logo {
        margin-left: 100px;
        margin-top: 20px;
    }

    .input-header {
        width: 200px;
        margin-left: -5px;
        height: 40px;
        margin-top: 10px;
        text-align: center;
    }

    .header-formulario {
        margin: 0;
        padding: 0;
        font-size: 30px;
        width: 98%;
    }

    .header-formulario-texto {
        margin: 10px;
        margin-top: 20px;
        padding: 0;
    }
}
