.descricao-container {
    margin-top: 15px;
    margin-left: 0;
    height: 700px;
    width: 1135px;
    margin-left: 60px;
}

.descricao-container-imagem {
    padding: 0;
    width: 500px;
    margin-right: 50px;
    margin-left: 15px;
}

.descricao-imagem {
    height: 550px;
    border-radius: 5px;
    padding: 0;
}

.descricao-opcoes-compra {
    height: 350px;
    padding: 0;
    padding-top: 10px;
}

.descricao-compra-conjunto-botoes-primeiro {
    display: flex;
    float: left;
}

.descricao-compra-nome-produto {
    display: flex;
    float: left;
}

.descricao-compra-conjunto-botoes-segundo {
    display: flex;
    float: left;
}

.descricao-compra-conjunto-botoes-segundo span {
    font-size: 15px;
    margin: 0;
}

.descricao-compra-valores h3 {
    display: flex;
    float: left;
    margin-top: 2px;
}

.descricao-compra-valores span {
    display: flex;
    float: left;
    background-color: salmon;
    border-radius: 5px;
    padding: 5px;
    margin-left: 15px;
}

.descricao-compra-valores p {
    display: block;
    float: left;
    font-size: 15px;
    padding: 0;
    margin-top: 0;
}

.descricao-detalhes-produto {
    border: 1px solid lightgrey;
    width: 550px;
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px;
}

.row-superior-descricao-detalhes-produto {
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.row-inferior-descricao-detalhes-produto {
    padding: 10px;
}

.descricao-detalhes-produto-span {
    display: block;
}

.descricao-detalhes-descricao {
    display: flex;
    float: left;
    margin-top: 15px;
}

.descricao-detalhes-descricao span {
    display: flex;
    float: left;
    margin-top: -35px;
    text-align: left;
}

.descricao-detalhes-comentarios-container {
    margin-top: -110px;
    width: 500px;
    height: 335px;
    margin-left: 355px;
    border: 1px solid lightgrey;

}

.descricao-detalhes-vendedor-container {
    margin-top: 15px;
    border: 1px solid lightgrey;
    width: 555px;
    height: 210px;
    padding: 10px;
    margin-left: 60px;
    border-radius: 5px;
}

.row-vendedor {
    margin-bottom: 5px;
    border-bottom: 1px solid lightgrey;
    padding: 5px;
}

.row-informacao-vendedor {
    padding: 5px;
}

.informacao-vendedor-cabecario {
    font-size: 13px;
}

.interna-informativo {
    display: flex;
    float: left;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 315px;
    padding: 0;
}

.interna-informativo-container-botao {
    display: flex;
    float: left;
    margin-left: 340px;
}

.pagina-interna-colecao {
    margin-left: 340px;
    margin-top: 0;
}

@media (min-width: 1900px) {
    .descricao-container {
        margin-left: 350px;
    }
}
