.promocao-roxo {
    background-color: mediumorchid;
    height: 60px;
    color: white;
}

.promocao-roxo p {
    margin-top: 20px;
    font-size: 20px;
}

@media (max-width: 768px) {

    .promocao-roxo {
        height: 80px;
    }

    .promocao-roxo p {
        margin-top: 10px;
    }
}