.Card {
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    padding: 100px;
    height: 250px;
    width: 10px;

    display: inline-flex;
    flex-direction: row;
    min-width: 10px;
    max-width: 500px;
    background-image: url('../../imagens/vestido.jpg');
}

.titulo {
    text-align: start;
    margin-left: 55px;
}

.cardao {
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    padding: 100px;
    height: 500px;
    width: 50px;

    display: inline-flex;
    flex-direction: row;
    min-width: 10px;
    max-width: 500px;
    background-image: url('../../imagens/car-3.jpg');
}