.Header {
    background-color: rgb(243, 243, 250);
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.Link {     
    padding: 5px; 
}

.Entrar {
    padding: 5px;
}

.Header input {
    margin: 10px;
    display: flex;
    justify-content: start;
    padding: 7px;
    border-radius: 8%;    
    color: gray;
}

button {
    background-color: indianred;
    border-radius: 10%;
    height: 50px;
    color: white;
    margin: 10px;
}

.logo {
    margin-top: 10px;
    margin-left: 20px;
    width: 40px;
}
