.btn {
    border-style: none;
    font-size: 0.8em;
    border-radius: 3px;
    padding: 6px 30px;
    cursor: pointer;
    margin: 10px;
    margin-top: 8px;
    margin-bottom: 1px;
    
    a{
      text-decoration: none;
      color: rgb(13, 13, 70);
      
  
      &:hover, &:active{
        color: black;
      }
    }
  }